/* Style the header and some padding */
.header {
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link  */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.topright a {
  position:relative;
  right:-50%;
  width:100px;
}

/* Style image to the left */
#content .col {
  float:left;
}

/* Style text to the right */
#footer {
  clear:right;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 100%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the navigation menu */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: fixed;
  bottom: 0;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 22.5%; /* Four equal-width links */
  text-align: center; 
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

